*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#0f172a;
    color:white;
}

header{
    background:linear-gradient(135deg,#143969,#3B9297);
    text-align:center;
    padding:50px 20px;
}

header h1{
    font-size:3rem;
}

.binary{
    margin-top:10px;
    color:#FABB2F;
}

nav{
    margin-top:20px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 15px;
    font-weight:bold;
}

.hero{
    max-width:1000px;
    margin:auto;
    padding:60px 30px;
}

.card{
    width:90%;
    max-width:1200px;
    margin:30px auto;
    background:#1e293b;
    padding:30px;
    border-radius:15px;
    box-shadow:0 0 15px rgba(0,0,0,.4);
}

.card h2{
    color:#70B8E8;
    margin-bottom:15px;
}

.stats{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
}

.stats div{
    flex:1;
    min-width:200px;
    background:#334469;
    padding:25px;
    border-radius:10px;
    text-align:center;
}

.skills{
    display:flex;
    flex-wrap:wrap;
    gap:15px;
}

.skills span{
    background:#3B9297;
    padding:10px 20px;
    border-radius:50px;
}

.project-btn,
button{
    display:inline-block;
    background:#FABB2F;
    color:black;
    text-decoration:none;
    font-weight:bold;
    padding:12px 24px;
    border-radius:10px;
    border:none;
    margin-top:15px;
    cursor:pointer;
}

.project-btn:hover,
button:hover{
    transform:scale(1.05);
}

.sandbox-layout{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:10px;
    width:90%;
    max-width:1200px;
    margin:auto;
}

.terminal{
    background:black;
    margin-top:20px;
    border-radius:10px;
    padding:20px;
    height:350px;
    overflow-y:auto;
}

#output{
    color:#00ff66;
    font-family:monospace;
    line-height:1.8;
}

pre{
    background:#111827;
    padding:20px;
    border-radius:10px;
    overflow-x:auto;
    color:#70B8E8;
}

footer{
    text-align:center;
    padding:30px;
    margin-top:50px;
    background:#111827;
}

@media(max-width:900px){

    .sandbox-layout{
        grid-template-columns:1fr;
    }

}
